#shop {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image:url(../data/textures/bg-mecha.png);
    background-size:cover;
    z-index:1000;
}

#shop .panel {
    position:absolute;
}

#shop .mainPanel {
    width:40%;
    height:65%;
    top: 8%;
    left:5%;
}

#shop .bank {
    width:40%;
    height:8%;
    bottom: 7%;
    left:5%;
}

#shop .title {
    font-size:20px;
}

#shop .items {
    height:85%;
    width:100%;
    overflow-y:scroll;
    background-color:#333;
}

#shop .items::-webkit-scrollbar {
    width: 0.3em;
}

#shop .items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    border-radius:3px;
    background-color:rgba(51, 51, 51, 1);
}

#shop .items::-webkit-scrollbar-thumb {
    background-color:#CCC;
    border: 1px solid black;
    border-radius:4px;
}

#shop .model {
    position:relative;
    display:block;
    width:96%;
    height:auto;
    font-size:20px;
    text-align:left;
    margin-top: 7px;
    margin-bottom: 7px;
    color:#666;
}

#shop .model .icon {
    display:inline-block;
    width:32px;
    height:32px;
    vertical-align:middle;
    margin-right:5px;
    margin-top:-2px;
    margin-bottom:-2px;
}

#shop .model .price {
    display:block;
    position:absolute;
    width:128px;
    height:32px;
    right:5px;
    top:0;
    text-align:right;
}

.weapon .icon {
    background-image: url("/gui/icon_weapon.png");
}

.generator .icon {
    background-image: url("/gui/icon_generator.png");
}

.shield .icon {
    background-image: url("/gui/icon_shield.png");
}

#shop .items .current {
    color:white;
}

.weapon {
     background-color:rgba(153, 0, 2, 0.5);
     border-bottom: 2px solid rgba(115, 29, 30, 1);
}

.generator {
     background-color:rgba(71, 156, 16, 0.5);
     border-bottom: 2px solid rgba(48, 77, 31, 1);
}

.shield {
     background-color:rgba(12, 115, 115, 0.5);
     border-bottom: 2px solid rgba(8, 79, 79, 1);
}

.weapon.current {
     background-color:rgba(153, 0, 2, 0.8);
     border-bottom: 2px solid rgba(115, 29, 30, 1);
}

.generator.current {
     background-color:rgba(71, 156, 16, 0.8);
     border-bottom: 2px solid rgba(48, 77, 31, 1);
}

.shield.current {
     background-color:rgba(12, 115, 115, 0.8);
     border-bottom: 2px solid rgba(8, 79, 79, 1);
}

#shop .weapon:hover {
    background-color:rgba(211, 159, 159, 0.5);
    color: black;
}

#shop .shield:hover {
    background-color:rgba(161, 231, 231, 0.5);
    color: black;
}

#shop .generator:hover {
    background-color:rgba(208, 255, 179, 0.5);
    color: black;
}

#shop .weapon.current:hover , #shop .shield.current:hover , #shop .generator.current:hover{
    color: white;
}

#shop .weapon.current:hover{
    background-color:rgba(115, 29, 30, 1);
}

#shop .shield.current:hover{
    background-color:rgba(8, 79, 79, 1);
}

#shop .generator.current:hover{
    background-color:rgba(48, 77, 31, 1);
}

#shop .weapon.current.selected:hover {
    background-color:rgba(153, 0, 2, 0.8);
    color: white;
}
#shop .shield.current.selected:hover{
    background-color:rgba(12, 115, 115, 0.8);
    color: white;
}
#shop .generator.current.selected:hover{
    background-color:rgba(71, 156, 16, 0.8);
    color: white;
}

#shop .weapon.selected:hover {
    background-color:rgba(153, 0, 2, 0.5);
}
#shop .shield.selected:hover{
    background-color:rgba(12, 115, 115, 0.5);
}
#shop .generator.selected:hover{
    background-color:rgba(71, 156, 16, 0.5);
}

#shop .selected{
    color:black;
}
#shop .selected.current{
    color:white;
}

#shop .generatorBar {
    display:block;
    position:absolute;
    right:0;
    top: 0;
}

#shop .selected .info {
    display:block;
}

#shop .info{
    padding-top:8px;
    padding-left:32px;
    display:none;
    height:70px;
    font-size:15px;
}

#shop .info label {
    display:inline-block;
    width:48%;
}

#shop .info span {
    display:inline-block;
    width:25%;
    text-align:right;
}

#shop .buy {
    font-size:14px;
    position:absolute;
    bottom:2px;
    right:2px;
}

#shop .money, #shop .money_label {
    position:absolute;
    display:block;
    width:50%;
    bottom:3px;
    font-size:24px;
}

#shop .money {
    right:10px;
    text-align:right;
}

#shop .money_label {
    left:10px;
    text-align:left;
}

#shop .play {
    position:absolute;
    bottom:10px;
    right:0
}

#shop .continue {
    width:40%;
    height:16%;
    bottom: 7%;
    right:5%;
    text-align:left;
    font-size:24px;
}

#shop .nextLevel {
    font-size:28px;
}

.cheat {
    font-size:12px;
    width:32px;
    height:32px;
}
